:ROOT{
    /* COLORS */
    --counter-primary: #0025f8;
    --counter-secondary: #111;
    --counter-text: #898989;


    /* FONTS */
    --font-primary: 'open sans',Helvetica, Arial, sans-serif
    --font-bold: 700;
    --font-light: 400;
    --font-size-text: 13px;
    --font-size-title: 20px;
    --font-size-section-title: 48px;


    /* SIZE */
    --size-primary: 25px;
    --size-double: calc(var(--size-primary)*2) 
    --size-half: calc(var(--size-primary)/2) 

    --margin-primary: var(--size-primary);
    --pading-primary: var(--size-primary);
    --pading-double: var(--size-double);
    --pading-halfe: var(--size-half);
    --height-primary: 120px:


 }

@media (min-width: 768px){
    .navbar{
        height: var(--height-primary);
    }
    
    .navbar .saed-nav-link.nav-link {
        padding: calc(var(--padding-primary)*2) var(--padding-primary);
    }
    
}

.navbar .saed-nav-link.nav-link {
    padding-right: var(--padding-primary)
    padding-left: var(--padding-primary)
    

}


.navbar .saed-nav-link.nav-link:hover {
    background-color: var(--counter-primary);
    color: white;
}

.hero{
    background: url(../img/City_Landscape_Background.jpg)no-repeat center center /cover;
    height: 515px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.search-form{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--size-half);
    padding: var(--padding-primary) var(--pading-double);
}

section{
    padding: var(--pading-double) 0;
}

.section-color {
    background-color:#0025f8
    color: white;
}

.section-title {font-size: var(--font-size-section-title)}
.section-subtitle { font-size: var(--font-size-title)}


.btn-white {
    border: 2px solid white;
    color: inherit;
    padding: var(--pading-halfe) var(--padding-primary);
}
.btn-white:hover {
    background-color: white;
    color: var(--counter-primary);

}